/* Navbar */

#navbar {
    background-color: #000000;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #000000;
    box-shadow: 0 0 10px #000000;
}

#navbar ul {
    margin: 0;
    padding: 0;
}

#navbar ul li {
    display: block;
}

#navbar ul li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

#navbar ul li a:hover {
    background-color: #000000;
}

#navbar ul li a:hover:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 5px;
    background-color: #ffffff;
}

#navbar ul li img{
    width: 5vh;
    height: auto;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px;
    border: 0px;
    filter: invert(100%);

}

#navbar ul li input{
    width: 200px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0px;
    border: 0px;
    background-color: #000000;
    color: #ffffff;
}

.left{
    float: left;
}

.right{
    float: right;
}

/*le milieu du site*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.ligne{
    position: absolute;
    width: 578px;
    height: 0px;
    left: 0px;
    top: 45px;

border: 1px solid #000000;
}


.cart{
    display: flex;
    width: 100vw;
    justify-content: center;
    padding: 20px;
}

.box_theo{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    margin: 20px 10px 10px 50px;
}

h1{
    margin-bottom: 10px;
}

/*box 1*/

.Ensemble_produit{
    display: flex;
    flex-direction: column;
}

img{
    width: 129px;
    height: 133px;
}

.Unite_produit{
    display: flex;
    padding: 20px 0 0 0;
}


.Descriptif_produit{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    line-height: 30px;
    width: 100%;
}

a{
    color: #000000;
    text-decoration-line: underline;
}

.Descriptif_produit div{
    display: flex;
    justify-content: flex-end;
}

/*Box 2*/

.Resume_Achats{
    display: flex;
    flex-flow: column wrap;
    width: 30%;
    margin: 20px 10px 10px 60px;
}


input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 20px 0 0;
    border: 0.5px solid #000000;
    box-sizing: border-box;
}

.Resume{
    display: flex;
    justify-content: space-between;
    padding: 18px 0 10px 0;
}

.checkout button{
    background-color: black;
    color: #FFFF;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

/* Trois box*/

.Info_entier {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 55%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.trois_info{
    width: 70%;
    margin-left: 25%;
}

span {
    padding : 5px;
    font-size : 1em;
    font-variant : "sans-serif";
    cursor : pointer;
    display: block;
}


span::after {
    float: right;
    right: 10%;
    content: "+";
}

.deroulement {
    clear: both;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height .4s ease;
}
  
.deroulement p {
    padding : 10px;
}

#m {
    position: absolute; 
    opacity: 0; height: 
    0px;
}

#m1 {
    position: absolute; 
    opacity: 0; 
    height: 0px;
}        
      
  
#m:checked + .slide {height: 30px;} 
#m1:checked + .slide {height: 30px;} 

/*responsive*/

@media screen and (max-width: 900px){
    .cart{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 20px 10px 10px 60px;
    }

    .Info{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 20px 10px 10px 60px;
    } 

    /*Res_cart{
        width: 100%;
    }

    Res_Ach{
        width: 100%;
    }*/

    .Info_entier {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 2%;
    }
    
    .trois_info{
        width: 70%;
        margin-left: 25%;
    }

    .Resume_Achats{
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        margin: 20px 10px 10px 60px;
    }

    .Ensemble_produit{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .box_theo{
        display: flex;
        flex-flow: column wrap;
        width: 40%;
        margin: 20px 10px 10px 50px;
    }
    
    
}
