#navbar {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #000000;
    
}
#navbar ul {
    margin: 0;
    padding: 0;
}
#navbar ul li {
    display: block;
}
#navbar ul li a {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 15px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
#navbar ul li a:hover {
    background-color: #ffffff;
}
#navbar ul li a:hover:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 5px;
    background-color: #000000;
}
#navbar ul li img{
    width: 5vh;
    height: auto;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px;
    border: 0px;
    filter: invert(100%);

}
#navbar ul li input{
    width: 200px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0px;
    border: 0px;
    background-color: #ffffff;
    color: #000000;
}
.left{
    float: left;
}
.right{
    float: right;
}

.imageinv{
    filter: invert(100%);

/*Headings*/
h1 {
    font-family: 'SemiBold', sans-serif;
    font-size: 72px;
    font-weight: 600;
    text-align: center;
    color: #000000;
    margin: 0;
    padding: 0;
}

/*paragraphs*/
.p1 {
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #979797;
    margin: 0;
    padding: 0;
}

/*buttons*/
.button1{
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    display:block;
    line-height:50px;
    text-decoration: none;
    font-family: 'Public Sans', sans-serif;
    width: 194px;
    height: 50px;
    border: 2px solid #f5deb3;
    border-radius: 5px;
    cursor: pointer;
}

.button1:hover{
    background-color: #979797;
    color: #000000;
    border: 2px solid #979797;
}

/*flexbox*/
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.image1{
    width: 50%;
    height: auto;
    display: block;
    margin: auto;

}
