
#navbar {
    background-color: #000000;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 250;
    border-bottom: 1px solid #000000;
    box-shadow: 0 0 10px #000000;
}
#navbar ul {
    margin: 0;
    padding: 0;
}
#navbar ul li {
    display: block;
}
#navbar ul li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
#navbar ul li a:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s;
}
#navbar ul li img{
    width: 5vh;
    height: auto;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px;
    border: 0px;
    filter: invert(100%);

}
#navbar ul li input{
    width: 200px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0px;
    border: 0px;
    background-color: #000000;
    color: #ffffff;
}
.left{
    float: left;
}
.right{
    float: right;
}
.middle{
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -100px;
}


hr {
    border: 1px solid white;
    width: 100%;
}

#black-rectangle {
    background-color: #000000;
    height: 50px;
    width: 100%;
    position: absolute;
    top: auto;
    left: 0;
    z-index: 200;
    border-bottom: 20vh solid #000000;
    box-shadow: 0 0 10px #000000;
}
#black-rectangle h1{
    color: #ffffff;
    text-decoration: none;
    padding: 15px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;

}
#black-rectangle p{
    color: #ffffff;
    text-decoration: none;
    padding: 15px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 15px;
    margin-right: 20px;

}
.product {
    background-color: white;
    height: auto;
    width: 20vw;
    position: relative;
    top: 100px;
    left: 10%;
    border-bottom: 1px solid #000000;
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
}
.order {
    position: relative;
    left: 60%;
    top: 60px;
}

img
{
    width: 100%;
    height: 100%;
}
#filter {
    height: 100%;
    width: 12%;
    top: 50px;
    left: 10px;
    flex-wrap: nowrap;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#filter h2{
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5vw;
    font-weight: 600;
    text-transform: uppercase;
    float: left;
}
#filter h3 {
    color: #000000;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    font-weight: 600;
    text-transform: uppercase;
    float: left;
}
#filter ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
#filter ul li {
    float: left;
    position: relative;
}
#filter ul li a {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 15px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
    font-weight: 600;
    text-transform: uppercase;
}
#filter ul li a:hover {
    background-color: #000000;
}
#filter ul li a:hover:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 5px;
    background-color: #000000;
}
#filter ul li input[type="checkbox"] {
    width: 10px;
    height: auto;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 0px;
    border: 0px;
    float: left;
    background-color: #000000;
    color: #000000;
}




#filter ul li input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    outline: none;
    transition: all 0.1s ease;
    margin-right: 10px;
    background-color: lightgray;
}
#filter ul li input[type="radio"]:checked {
    border: 3.5px solid black;
}
#filter ul li input[type="radio"].orange {
    background-color: rgb(223, 145, 103);
}
#filter ul li input[type="radio"].violet {
    background-color: rgb(123, 97, 255);
}
#filter ul li input[type="radio"].vert_fonce {
    background-color: rgb(33, 150, 83);
}
#filter ul li input[type="radio"].bleu {
    background-color: rgb(47, 128, 237);
}
#filter ul li input[type="radio"].red {
    background-color: rgb(235, 87, 87);
}
#filter ul li input[type="radio"].purple {
    background-color: purple;
}
#filter ul li input[type="radio"].pink {
    background-color: pink;
}
#filter ul li input[type="radio"].brown {
    background-color: brown;
}
#filter ul li input[type="radio"].gray {
    background-color: gray;
}
#filter ul li input[type="radio"].white {
    background-color: white;
}